<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="icon" href="/static/assets/image/icon.png">
    <title>Rainfall Prediction</title>
</head>

<body class="flex justify-around items-center font-sans bg-blue-500 h-screen text-white">
    <div class="flex justify-center gap-x-20 items-center w-[90vw]">
        <div class="flex flex-col justify-center items-center">
            <div class="top-10 right-20 absolute">
                <p class="text-center text-white italic">"The best thing one can do when it's raining is to let it rain."<br> — Henry Wadsworth Longfellow</p>
            </div>
            <div class="absolute rounded-full bg-white bg-opacity-10 border border-white border-opacity-20 z-0 w-36 h-36 mt-20 top-80 mr-80 backdrop-blur"></div>
            <div class="absolute rounded-full bg-white bg-opacity-10 border border-white border-opacity-20 z-0 w-52 h-52 top-10 mt-5 ml-80 backdrop-blur"></div>
            <div class="bg-white bg-opacity-10 rounded-lg shadow-lg border border-white border-opacity-20 relative z-10 backdrop-blur" style="height: 400px; width: 350px;">
                <form id="prediction-form" action="/" method="post">
                    <div class="flex gap-2 justify-center items-center m-4">
                        <select id="month-field" name="month" class="text-white bg-blue-400 w-full p-2 rounded border-none placeholder-white">
                            <option class="w-full text-gray-600 font-semibold text-base text-center" value="0" disabled {% if month_post == 0 %}selected{% endif %}>Select Month</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="1" {% if month_post == 1 %}selected{% endif %}>January</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="2" {% if month_post == 2 %}selected{% endif %}>February</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="3" {% if month_post == 3 %}selected{% endif %}>March</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="4" {% if month_post == 4 %}selected{% endif %}>April</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="5" {% if month_post == 5 %}selected{% endif %}>May</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="6" {% if month_post == 6 %}selected{% endif %}>June</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="7" {% if month_post == 7 %}selected{% endif %}>July</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="8" {% if month_post == 8 %}selected{% endif %}>August</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="9" {% if month_post == 9 %}selected{% endif %}>September</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="10" {% if month_post == 10 %}selected{% endif %}>October</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="11" {% if month_post == 11 %}selected{% endif %}>November</option>
                            <option class="w-full text-black font-semibold text-base text-center" value="12" {% if month_post == 12 %}selected{% endif %}>December</option>
                        </select>
                        <input id="year-field" class="text-white w-full bg-blue-400 p-2 rounded border-none placeholder-white text-center" type="text" name="year" placeholder="Year" autocomplete="off" value="{{ year_post if year_post else '' }}">
                    </div>
                    <div class="flex gap-2 justify-center items-center my-4">
                        <button id="submit-btn" type="submit" class="py-2 w-20 font-bold rounded-lg bg-white text-blue-400 cursor-pointer">Search</button>
                        <button id="clear-btn" type="reset" class="py-2 w-20 font-bold rounded-lg bg-white text-red-400 cursor-pointer">Clear</button>
                    </div>
                </form>
                <div class="flex justify-center my-6">
                    <span class="tracking-wide whitespace-nowrap text-xl font-bold text-center">GANGETIC WEST BENGAL</span>
                </div>
                <div class="flex justify-center">
                    <img src="/static/assets/image/icon.png" alt="cloudy" class="w-24">
                </div>
                <div class="flex justify-center font-medium text-4xl my-2">
                    <span id="result-field" class="text-center">{{ result_post }}</span>
                </div>
                <div class="flex justify-center bottom-2 fixed w-full">
                    <span class="text-center text-base font-bold tracking-wide text-zinc-700">using random forest model</span>
                </div>
            </div>
        </div>
        <div class="flex-col items-start hidden md:flex">
            <div class="absolute rounded-full bg-white bg-opacity-10 border border-white border-opacity-20 z-0 w-36 h-36 top-100 right-10 backdrop-blur"></div>
            <span class="mt-5 z-30 text-5xl font-bold drop-shadow-[0_10px_10px_rgb(0,0,0,0.5)]">Welcome to </span>
            <span class="text-7xl font-extrabold mt-1 z-30 drop-shadow-[0_10px_10px_rgb(0,0,0,0.8)]">Rainfall Prediction</span>
            <span class="font-bold text-4xl mt-4 bg-white bg-opacity-20 inline-block px-4 py-2 rounded-lg z-30 uppercase tracking-widest text-center">
                Machine Learning Approach
            </span>
        </div>
    </div>
    <div class="footer w-full fixed bottom-0">
        <div class="flex justify-center items-center text-center">
            <span class="text-base font-semibold text-gray-800">
                Copyright &copy; <span class="copyright-year"></span>
                <a class="text-white" href="https://github.com/The-Hellbot">HellBot Org.</a> | All rights reserved!
            </span>
        </div>
    </div>
    <script src="/static/assets/js/script.js"></script>
</body>

</html>